<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.babu.com/xtext/cct/MyCCT" 
       class = "com.babu.xtext.cct.myCCT.MyCCTPackage"
       genModel = "model/generated/MyCCT.genmodel" /> 
	
  </extension>



</plugin>
